{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Register{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Créez un compte sur Solida'Click</h1>
            <p class="lead">Entrez vos informations de connexion ainsi que votre adresse et votre numéro de téléphone.
                C'est grâce à cela que vous serez contacté par les autres utilisateurs.</p>
        </div>
    </div>
    <div class="container">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.postCode) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="row">
            <button type="submit" class="btn btn-success col-12 mt-2 pt-4 pb-4 mb-4" href="{{ path("home") }}">Créer un compte
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
    <div class="container">
        <div class="row mb-5">
            <a class="btn btn-info col-6 mt-2 pt-4 pb-4" href="{{ path("home") }}">Retour à la page d'accueil</a>
            <a class="btn btn-warning col-6 mt-2 pt-4 pb-4" href="#">Déjà inscrit ? Connectez vous !</a>
        </div>
    </div>
{% endblock %}
