{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Aider{% endblock %}

{% block body %}
    {% include 'tmplPart/menu.html.twig' %}

    <div class="jumbotron jumbotron-fluid margin-top">
        <div class="container">
            <h1 class="display-4">Aidez autour de chez vous !</h1>
            <p class="lead">Retrouvez ici les annonces près de chez vous.</p>
        </div>
    </div>

    <div class="container pb-5">
        <ul class="nav nav-tabs nav-pills nav-justified" id="tab-control" role="tablist">
            <li class="nav-item">
                <a class="nav-link active pt-3 pb-3" id="find-request-tab" data-toggle="tab" href="#find-request"
                   role="tab"
                   aria-controls="find-request-tab"
                   aria-selected="true">Autour de moi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pt-3 pb-3" id="helped-request-tab" data-toggle="tab" href="#helped-request"
                   role="tab"
                   aria-controls="new-request-tab" aria-selected="false">Mon aide</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="find-request" role="tabpanel" aria-labelledby="find-request-tab">
                <div class="row">
                    {% for request in requests %}
                        {% include 'tmplPart/request.html.twig' %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="helped-request" role="tabpanel" aria-labelledby="helped-request-tab">
                <div class="row">
                    {% for request in helpedRequests %}
                        {% include 'tmplPart/request.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
