{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Faire une demande{% endblock %}

{% block body %}
    {% include 'tmplPart/menu.html.twig' %}

    <div class="jumbotron jumbotron-fluid margin-top">
        <div class="container">
            <h1 class="display-4">Demandez un coup de main !</h1>
            <p class="lead">Publiez ici une demande pour que qulqu'un puisse aller faire quelques emplettes pour
                vous</p>
        </div>
    </div>
    <div class="container pb-5">
        <ul class="nav nav-tabs nav-pills nav-justified" id="tab-control" role="tablist">
            <li class="nav-item">
                <a class="nav-link active pt-3 pb-3" id="my-request-tab" data-toggle="tab" href="#my-request" role="tab"
                   aria-controls="my-request-tab"
                   aria-selected="true">Mes demandes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pt-3 pb-3" id="new-request-tab" data-toggle="tab" href="#new-request" role="tab"
                   aria-controls="new-request-tab" aria-selected="false">Nouvelle demande</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="my-request" role="tabpanel" aria-labelledby="my-request-tab">
                <div class="row mt-3">
                    {% for request in requests %}
                        <div class="card m-1 {{ request.state ? 'border-danger' : 'border-success' }}" style="width: 30%;">
                            <img src="/build/images/{{ request.type }}.jpg" class="card-img-top">
                            <div class="card-body">
                                {% if request.state %}
                                    <h5 class="card-title badge badge-pill badge-danger">En attente d'aide</h5>
                                {% else %}
                                    <h5 class="card-title"><a class="btn btn-success" href="{{ path('userProfile', { userId: request.helper.id}) }}">{{ request.helper.firstName }} {{ request.helper.lastName }} </a>
                                        va vous aider</h5>
                                {% endif %}

                                <p>
                                    <span class="badge badge-pill badge-info">{{ request.date|date("d/m/Y") }} à {{ request.date|date("H:i") }}</span>
                                    |
                                    <span class="badge badge-pill badge-warning">{{ request.type }}</span>
                                </p>
                                <p>
                                    {{ request.content }}
                                </p>
                                <a href="{{ path('deleteRequest', { requestId: request.id }) }}" class="btn btn-warning">Supprimer ma demande</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="new-request" role="tabpanel" aria-labelledby="new-request-tab">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12 mt-2">
                        <span class="badge badge-danger">{{ form_errors(form.type) }}</span>
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type) }}
                    </div>
                    <div class="col-12 mt-2">
                        <span class="badge badge-danger">{{ form_errors(form.content) }}</span>
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                    </div>
                    <button class="btn btn-primary col-12 mt-2 pt-3 pb-3" type="submit">Publier</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
