{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Home{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Solida'Click</h1>
            <p class="lead">Pendant le confinement de 2020, vous avez besoin d'un coup de main pour faire vos courses ? Pour aller à la pharmacie ? Postez une annonce et faites vous aider par les voisins !</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <a class="btn btn-info col-6 mt-2 pt-5 pb-5" href="{{ path('app_login') }}">Connexion</a>
            <a class="btn btn-primary col-6 mt-2 pt-5 pb-5" href="{{ path('app_register') }}">Créer un compte</a>
        </div>
    </div>
{% endblock %}
