<div class="fixed-top">
    <div class="row nav nav-pills">
            <a class="col nav-item btn btn-warning pt-4 pb-4 text-black" href="{{ path( 'myProfile' ) }}">Mon compte</a>
            <a class="col nav-item btn btn-info pt-4 pb-4 text-black" href="{{ path( 'newRequest' ) }}">Mes demandes</a>
            <a class="col nav-item btn btn-success pt-4 pb-4 text-black" href="{{ path( 'findRequest' ) }}">Aider</a>
            <a class="col nav-item btn btn-danger pt-4 pb-4 text-black" href="{{ path( 'app_logout' ) }}">Déconnexion</a>
    </div>
</div>
