<div class="card m-1" style="width: 30%;">
    <img src="/build/images/{{ request.type }}.jpg" class="card-img-top">
    <div class="card-body">
        <p>
            <span class="badge badge-pill badge-info">{{ request.date|date("d/m/Y") }} à {{ request.date|date("H:i") }}</span>
            |
            <span class="badge badge-pill badge-warning">{{ request.type }}</span>
        </p>
        <h5 class="card-title">
            Pour : <a href="{{ path('userProfile', { userId: request.owner.id}) }}" class="btn btn-dark">{{ request.owner.firstName }} {{ request.owner.lastName }}</a>
        </h5>
        <p>
            {{ request.content }}
        </p>
        <a href="#" class="btn btn-light">{{ request.owner.postCode }} | {{ request.owner.city }}</a>
        {% if request.state %}
            <a href="{{ path('help', { requestId: request.id }) }}" class="btn btn-success">Aider !</a>
        {% else %}
            <a href="{{ path('unHelp', { requestId: request.id }) }}" class="btn btn-warning">Annuler mon aide</a>
        {% endif %}
    </div>
</div>
