{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Mon profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.postCode) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="row">
            <button type="submit" class="btn btn-success col-12 mt-2 pt-4 pb-4 mb-4" href="{{ path("home") }}">
                Modifier les informations de mon profil
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
    <div class="container">
        <div class="row mb-5">
            <a class="btn btn-info col-6 mt-2 pt-4 pb-4" href="{{ path("myProfile") }}">Retour à mon profil</a>
        </div>
    </div>

{% endblock %}
