{% extends 'base.html.twig' %}

{% block title %}Solida'Click - Mon profil{% endblock %}

{% block body %}
    {% include 'tmplPart/menu.html.twig' %}
    <div class="jumbotron jumbotron-fluid margin-top">
        <div class="container">
            <h1 class="display-4">Bienvenue {{ user.firstName }}</h1>
            <p class="lead">Retrouvez ici vos informations.</p>
        </div>
    </div>
    <div class="container">
        <ul class="list-group row">
            <li class="list-group-item col-12">Nom : {{ user.LastName }}</li>
            <li class="list-group-item col-12">Prénom : {{ user.firstName }}</li>
            <li class="list-group-item col-12">{{ user.email }}</li>
            <li class="list-group-item col-12">Adresse : {{ user.adress }} | {{ user.postCode }} {{ user.city }}</li>
            <li class="list-group-item col-12">Téléphone : {{ user.phone }}</li>
        </ul>
            <div class="row mt-3">
                <a href="{{ path('modifyProfile') }}" class="btn btn-primary pt-3 pb-3 col-6">modifier mes informations</a>
                <a href="{{ path('deleteProfile', { userId: app.user.id }) }}" class="btn btn-danger pt-3 pb-3 col-6">Supprimer mon compte</a>
            </div>
    </div>
{% endblock %}
