{% extends 'base.html.twig' %}

{% block title %}Solida'Click - profil de {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    {% include 'tmplPart/menu.html.twig' %}
    <div class="jumbotron jumbotron-fluid margin-top">
        <div class="container">
            <h1 class="display-4">Profil de {{ user.firstName }} {{ user.lastName }}</h1>
            <p class="lead">Retrouvez ici ses informations.</p>
        </div>
    </div>
    <div class="container">
        <ul class="list-group row">
            <li class="list-group-item col-12">Nom : {{ user.firstName }} {{ user.LastName }}</li>
            <li class="list-group-item col-12">Email : {{ user.email }}</li>
            <li class="list-group-item col-12">Adresse : {{ user.adress }} | {{ user.postCode }} {{ user.city }}</li>
            <li class="list-group-item col-12">Téléphone : {{ user.phone }}</li>
        </ul>
    </div>
{% endblock %}
